@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  color: white;
  padding: 0 50px;
  font-family: 'Roboto', sans-serif;
  background: rgb(0,10,91);
  background: linear-gradient(100deg, rgba(0,10,91,1) 0%, rgba(0,5,29,1) 100%); 
}